@model EducationPortal.BusinessLogic.DTO.ArticleMaterialDto
@{
    ViewData["Title"] = "Article Details";
}

<h2>@ViewData["Title"]</h2>

<p><b>ID</b>: @Model.Id</p>
<p><b>Name</b>: @Model.Name</p>
<p><b>Publish date</b>: @Model.PublishDate</p>
<p><b>Source</b>: @Model.Source</p>
<p><b>Created</b>: @Model.CreatedOn</p>
<p><b>Created by</b>: @Model.CreatedByName</p>
<p><b>Updated</b>: @Model.UpdatedOn</p>
<p><b>Updated by</b>: @Model.UpdatedByName</p>

