@model EducationPortal.BusinessLogic.DTO.VideoQualityDto
@{
    ViewData["Title"] = "Video Quality Details";
}

<h2>@ViewData["Title"]</h2>

@Html.ActionLink("← Back to Video Qualities", "Index")

<h3>Info</h3>

<p><b>ID</b>: @Model.Id</p>
<p><b>Name</b>: @Model.Name</p>

<h3>Actions</h3>
<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
<a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>

