@model EducationPortal.Presentation.ViewModels.CourseViewModel
@{
    ViewData["Title"] = "Edit Course";
}

@section CSS
{
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
}

@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.js-example-basic-multiple').select2();
        });
    </script>
}

<h2>@ViewData["Title"]</h2>

@if (!Model.AvailableMaterials.Any())
{
    <p>No Materials found. Please Create new Material.</p> //TODO material link
}
else if (!Model.AvailableSkills.Any())
{
    <p>No Skills found. Please @Html.ActionLink("Create", "Add", "Skills") new Skill.</p>
}
else
{
    <form asp-action="Edit" asp-controller="Courses" method="post">
        <div class="form-group">
            <label asp-for="Name">Name</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name"></span>
        </div>
        <br>
        <div class="form-group">
            <label asp-for="Description">Description</label>
            <input asp-for="Description" class="form-control"/>
            <span asp-validation-for="Description"></span>
        </div>
        <br>
        <div class="form-group">
            <label asp-for="SelectedMaterials">Materials</label>
            <select asp-for="@Model.SelectedMaterials" asp-items="new SelectList(Model.AvailableMaterials)" class="form-select js-example-basic-multiple" multiple="multiple">
                @if (Model.SelectedMaterials != null)
                {
                    @foreach (var selected in Model.SelectedMaterials)
                    {
                        <option selected="selected">@selected</option>
                    }
                }
            </select>
            <span asp-validation-for="SelectedMaterials"></span>
        </div>
        <br>
        <div class="form-group">
            <label asp-for="SelectedSkills">Skills</label>
            <select asp-for="@Model.SelectedSkills" asp-items="new SelectList(Model.AvailableSkills)" class="form-select js-example-basic-multiple" multiple="multiple">
                @if (Model.SelectedSkills != null)
                {
                    @foreach (var selected in Model.SelectedSkills)
                    {
                        <option selected="selected">@selected</option>
                    }
                }
            </select>
            <span asp-validation-for="SelectedSkills"></span>
        </div>
        <br>
        <input type="submit" class="btn btn-primary" value="Submit"/>
    </form>
}


