@model EducationPortal.Presentation.ViewModels.PageViewModel<EducationPortal.BusinessLogic.DTO.VideoMaterialDto>
@{
    ViewData["Title"] = "Videos";
}

<h2>@ViewData["Title"]</h2>

@Html.ActionLink("Add Video", "Add")

<table class="table">
    <tr>
        <th>No.</th>
        <th>Name</th>
        <th>Duration</th>
        <th>Qualtity</th>
        <th>Actions</th>
    </tr>
    @for(int i = 0; i < Model.Items.Count; i++)
    {
        <tr>
            @{
                int no = i + 1 + (Model.Page - 1) * Model.PageSize;
            }
            <td>@no</td>
            <td>@Model.Items[i].Name</td>
            <td>@Model.Items[i].Duration</td>
            <td>@Model.Items[i].Quality.Name</td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = @Model.Items[i].Id }) |
                @Html.ActionLink("Edit", "Edit", new { id = @Model.Items[i].Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = @Model.Items[i].Id })
            </td>
        </tr>
    }
</table>

<ul class="pagination">
    @for (int i = 1; i <= Model.PageCount; i++)
    {
        <li class="@(i == Model.Page ? "page-item active" : "page-item")">
            <a class="page-link" href="@Url.Action("Index", new { page = i, pageSize = Model.PageSize })">@i</a>
        </li>
    }
</ul>